{% extends 'base.html' %}
{% block title %}Coffee and Wifi{% endblock %}

{% block content %} 

<br>
<div class="container col-xl-10 col-xxl-8 px-4 py-5"> 
  <div class="row align-items-center g-lg-5 py-5"> 
    <div class="col-lg-7 text-center text-lg-start"> 
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Cultural Tapestry</h1> 
        <p class="col-lg-10 fs-4">Iasi’s cultural narrative is woven with historical landmarks and intriguing places to explore. 
          The Palace of Culture is a significant symbol of Iasi’s rich past, and you can wander through the enchanting Copou Park, and through ”Anastasie Fatu Garden”, 
          the oldest botanical garden in Romania.</p> 
    </div> 
    <div class="col-md-10 mx-auto col-lg-5"> 
      <div class="col-lg-8 col-md-10 mx-auto">
        <img class="iasi-img mt-5" src="../static/assets/imgs/iasi1.jpeg" height="500" width="700" alt="city image">
      </div> 
  </div> 
</div>


{% endblock %}